{% extends "base2.html" %}
{% block title %}Tienda{% endblock title %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Categorias...</h3>
            <div class="list-group">
                {% for cat in categorias %}
                {% if categoria.nombre == cat.nombre %}
                <a href="{{url_for('inicio',id = cat.id)}}" class="list-group-item active">{{cat.nombre}}</a>
                {% else %}
                <a href="{{url_for('inicio',id = cat.id)}}" class="list-group-item">{{cat.nombre}}</a>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <div><a href="{{ url_for('articulos_new') }}" class="btn btn-primary" role="button">Nuevo videoJuego</a></div>
            <div><a href="{{ url_for('categorias_new') }}" class="btn btn-secondary" role="button">Nuevo videoJuego</a></div>
            {% endif %}
        </div>

        <div class="col-md-10">
            <h3>Nuestros videojuegos... ({{categoria.nombre}})</h3>
            <div class="panel panel-defaul">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>PVP</th>
                        {% if current_user.is_authenticated %}
                        <th>Compra</th>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_admin() %}
                        <th>Modificar</th>
                        <th>Eliminar</th>
                        {% endif %}
                    </tr>

                    {% for art in articulos %}
                    <tr>
                        {% if art.image %}
                        <td><img style="width: 120px;" src="{{url_for('static', filename='img/')}}{{art.image}}"></td>
                        {% else %}
                        <td><img style="width: 120px;" src="{{url_for('static', filename='img/not-found.png')}}"></td>
                        {% endif %}
                        <td>{{ art.nombre }}</td>
                        <td>{{ art.descripcion }}</td>
                        <td>{{ art.precio_final() }}</td>
                        {% if current_user.is_authenticated %}
                        <td><a href="#"><i class="bi bi-cart-plus-fill "></i>Comprar</a></td>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_admin() %}
                        <td><a href="{{ url_for('articulos_edit', id=art.id) }}"><i class="bi bi-pencil-square"></i>Modificar</a></td>
                        <td><a href="{{ url_for('articulos_delete', id=art.id) }}"><i class="bi bi-trash3"></i>Eliminar</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}