<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Carga el style de bootstrap, con esto no puedo utilizarlo-->
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}

    <!-- Carga el contenido de js de bootstrap -->
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>